@import "../../../ui/__variables";

.hero {
    width: 100%;
    background-size: cover;
    height: max-content;
   
    &__container {
        &-image {
          margin-bottom: 5rem;
          margin-top: 1rem;
          width: 100%;
          margin-left: 2rem;
          border-radius: 10px;
          @media screen and (max-width: $small-screen) {
            margin-left: auto;
          }
        }
        }
        &-contain {
          margin: 3rem;
          &__intro {
            
            h1 {
              width: 570%;
              font-weight: 700;
              font-size: larger;
              line-height: 40px;
              letter-spacing: -1px;
              color: $blue-color;
            }
            p {
              width: 100%;
              font-size: small;
              font-style: normal;
              font-weight: 400;
              line-height: 30px;
              mix-blend-mode: normal;
              opacity: 0.7;
              margin-top: 12px;
            }
          }
          
        }
        .start-button {
          margin-top: 1rem;
          color: $white-color;
          background-color: $blue-color;
          border: none;
          
        }

&--mobile-only {
  display: none;
  margin-bottom: 2rem;
  height: 100%;
  @media screen and (min-width: $medium-screen) {
    display: block;
  }
}

&--desktop-only {
  display: block;
  @media screen and (min-width: $medium-screen) {
    display: none;
  }
}
}