@import "../_variables";

.custom-table {
  box-sizing: border-box;

  table {
    table-layout: fixed;
    width: 100% !important;
  }

  td {
    width: fit-content;
    padding: 1rem 0rem;
  }

  tbody {
    td {
      border-bottom: 0.5px solid $gray-muted-color;
    }
  }

  thead {
    background-color: $white-color;
    color: $black-color;
    th {
      font-weight: 600;
      padding: 1.5rem 0rem !important;
    }
    tr {
      border-bottom: 0.5px solid $gray-muted-color;
    }
  }
}
