@import "../../../components/ui/__variables";

@mixin flex-center {
  display: flex;
  align-items: center;
}

.layout-header {
  position: sticky;
  width: 100%;
  justify-content: space-between;
  top: 0;
  height: 5rem;
  background-color: $white-color;
  @include flex-center;

  nav {
    @include flex-center;
    height: 5rem;
    background-color: $white-color;

    .ul-items {
      list-style: none;
      cursor: pointer;
      padding: 50px;
      .li-items {
        a {
          text-decoration: none;
          color: $black-color;
          margin: 0 2rem;
          font-size: medium;
          font-weight: 700;
        }
      }
    }
  }

  &__desktop {
    @media screen and (max-width: $medium-screen) {
      display: none;
    }
  }

  &__mobile {
    display: block;
    margin-right: 5%;
    @media screen and (min-width: $medium-screen) {
      display: none;
    }
  }

  &--icon {
    color: $red-color;
    cursor: pointer;
  }
  .logo {
    justify-content: left;
    margin-left: 5%;
  }
}
