@import "../../../components/ui/__variables";

@mixin flex-center {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.layout-header {
  
  position: sticky;
  width: 100%;
  justify-content: space-between;
  top: 0;
  height: 5rem;
  font-family:cursive;
  background-color: $white-color;
  // @include flex-center;
  
  nav {
    // @include flex-center;
    display: flex;
    flex-grow: 1;
    padding: 0 2rem;
    height: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $white-color;
    .auth-nav{
      flex-direction: row;
      display: flex;
      margin-left: auto;
      justify-self: flex-end;
      gap: 30px;
      &__link{
        text-decoration: none;
        font-size: medium;
        font-weight: bolder;
        color: $blue-color;
      
      &:hover {
        color: $black-color;

      }
    }
      &__btn {
        font-size: medium;
        font-weight: bolder;
        background-color: $blue-color;
        border: none;
        width: 10rem;
        height: 4rem;
        &:hover {
          color: $black-color;
          border-color: $black-color;
        }
      }
    }
    .ul-items {
      list-style: none;
      cursor: pointer;

      .li-items {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        a {
          text-decoration: none;
          color: $gray-color;
          margin: 0 1rem;
          font-size: medium;
          font-weight: bolder;
        }
        a:hover {
         color:purple;
        }
      }
    }
  }

  &__desktop {
    @media screen and (max-width: $medium-screen) {
      display: none;
    }
  }

  &__mobile {
    display: block;
    margin-right: 5%;
    @media screen and (min-width: $medium-screen) {
      display: none;
    }
  }

  &--icon {
    color: $blue-color;
    cursor: pointer;
  }
  .logo {
  
  span {
      font-size: smaller;
      margin-right: 5px;
      padding-right: 20px;
      color: $blue-color;
      font-weight: bolder;
      font-family:'Segoe UI';
    }
    
  }
  
}
