@import "components/ui/_variables";

.middle-intro {
  background: linear-gradient(
      316.87deg,
      rgba(255, 43, 6, 0) 34.9%,
      rgba(0, 0, 0, 0.71) 60.77%,
      rgba(0, 0, 0, 0.71) 72.82%
    ),
    radial-gradient(
      26.41% 26.41% at 45.96% 75.36%,
      rgba(255, 43, 6, 0.9) 0%,
      #000000 100%
    );
  color: $white-color;
  height: 38rem;
  @media screen and (max-width: $small-screen) {
    height: 30rem;
  }
  .intro__content {
    // padding: 100px 50px 0px 100px;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $small-screen) {
      height: 30rem;
    //   padding: 50px 0px 0px 50px;
    }
    h1 {
      font-style: normal;
      font-weight: 100;
      font-size: xx-large;
      line-height: 2.5rem;
      width: 100%;
      margin-top: 100px;
      @media screen and (max-width: $small-screen) {
        font-size: medium;
      }
    }
    h2 {
      margin-top: 1rem;
      font-size: medium;
      font-weight: 100;
      font-style: normal;
      line-height: 1.7rem;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 100%;
      @media screen and (max-width: $small-screen) {
        font-size: small;
      }
    }
    hr {
      margin-top: 5rem;
      width: 40%;
      height: 2px;
      border: none;
      opacity: 0.9;
      @media screen and (max-width: $small-screen) {
        width: 38%;
        height: 2px;
      }
    }
    .content-count {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 2rem;
      padding: 5px;
      p {
        width: 8rem;
        line-height: 4vh;
      }

      h3 {
        font-size: xx-large;
        font-weight: 200;
        line-height: 10vh;
      }
      .content-inner {
        width: 100%;
      }
    }
  }
}
