@import "../../../components/ui/__variables";

.footer {
  background-color: $black-color;
  background-repeat: no-repeat;
  background-position: 48rem;
  width: 100%;
  overflow: hidden;
  color: $white-color;
  &__title {
    font-size: medium;
    font-weight: 600;
    color: $white-color;
  }
  &__logo {
    @media screen and (max-width: $medium-screen) {
      margin-bottom: 2rem;
    }
  }

  &__row {
    justify-content: space-between !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 67px;
    &--link {
      font-size: small;
      font-weight: 200;
      color: $white-color;
      display: block;
      margin-top: 1rem;
    }

    .attribution {
      text-align: right;
      margin-right: 5rem;
      margin-bottom: 26px;
    }
    img {
      width: 150px;
      @media screen and (max-width: $small-screen) {
        width: 75px;
      }
    }
  }
}
