@import "../../../ui/_variables";

@mixin flex-center {
    display: flex;
    align-items: center;
}
.main-hero {
    height: 38rem;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background: linear-gradient(to right bottom,rgba(0,0,0,0.805),rgba(0, 0, 0, 0.805)),url(../../../assets/Background.jpg);
   
    @media screen and (max-width: $small-screen) {
        background-size: 500px, 430px 700px;
        background-clip: padding-box;
        background-repeat: no-repeat;
        height: 38rem;
    }

    .hero__content{
        margin: 5rem;
        text-align: center;
        h1{
            font-size: xx-large;
            color: $red-color;
            @media screen and (max-width: $small-screen) {
                font-size: x-large;
            }
        }
        &-icons {
            width: 2rem;
        }
        &-date {
            margin-right: 2rem;
            @media screen and (max-width: $small-screen) {
                margin-right: 0.2rem;
            }  
        }
        &-location {
           margin-right: 4rem;
           @media screen and (max-width: $small-screen) {
            margin-right: 2rem;
        }
        }
        &-button{
            background: $red-color;
            border: none;
            @media screen and (max-width: $small-screen) {
                width: 50%;
                margin-top: 30px;
                font-size: small;
            }
        }
        &-info {
            color: $white-color;
            display: flex;
            justify-content: center;
            padding: 20px 20px 30px 5px;
            @media screen and (max-width: $small-screen) {
                padding: 5px 5px 5px 5px;
                font-size: xx-small;
            }
}
}
}
